body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;	
}

.vert-center {
  top: 50%;
  transform: translateY(-50%);
}

.hori-center {
  left: 50%;
  transform: translateX(-50%);
}

.hori-vert-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.preload {
  display: none;
}

.error-msg {
  position: relative;
  display: inline-block;
  color: #FD2727;
  font: 1.8vh "Slabo 27px", sans-serif; 
}

.error-box {
  border: solid 2px #FF0000;
}
