.chat-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 290px;
  display: inline-flex;
}

.chat-opener-container {
  position: relative;
  bottom: -255px;
  margin-right: 11px;
  height: 365px;
  width: 300px;
  border: solid 1px #665555;
  background-color: rgba(255,255,255,0);
}

.chat-opener-opener {
  position: relative;
  width: 100%;
  height: 35px;
  cursor: pointer;
  background-color: rgba(180,93,171,.6); 
}

.chat-opener-list {
  position: relative;
  height: 330px;
  width: 100%;
  background-color: #FFFFFF;
}

.chat-opener-entry-container {
  position: relative;
  display: inline-flex;
  height: 36px;
  width: 100%;
  padding: 2px;
  cursor: pointer;
}

.chat-opener-entry-img-div {
  position: relative;
  margin-left: 2px;	
  height: 35px;
  width: 50px;
}

.chat-opener-entry-img {
  position: relative;
  -webkit-clip-path: circle(15px at 50% 50%);
}

.chat-opener-entry-name {
  position: absolute;
  margin-left: 5px;
  color: #BB35F0;
  font-family: "Tahoma";
  font-size: 18px;
}

.chat-opener-title {
  position: relative;
  display: inline-block;
  font-family: 'Vollkorn', serif;
  font-size: 21px; 
  color: #EBF8EA;
}

.chat-box-container {
  position: relative;
  height: 288px;
  margin-right: 16px;
  margin-left: 10px;
  border: solid 1px #665555;
  background-color: #FFFFFF;
}

.chat-box-top-bar {
  position: relative;
  height: 30px;
  width: 250px;
  background-color: #C280BB;
  cursor: pointer;
}

.chat-box-top-bar-name {
  position: absolute;
  left: 5px;
  color: #FEFA80;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.chat-box-exit-button {
  position: absolute;
  right: 2px;
  height: 25px;
}

.chat-box-message-display {
  position: relative;
  height: 220px;
  width: 240px;
  margin: 5px;
  margin-right: 0px;
  padding-right: 5px;
  overflow-y: auto;
  background-color: #FFFFFF;
}

.chat-box-message-display-list {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.chat-box-input {
  position: relative;
  height: 22px;
  width: 80%;
}

.chat-box-button {
  position: relative;
  height: 28px;
}

.chat-msg {
  list-style-type: none;
}

.chat-msg-name-theirs {
  color: #FCF403;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.chat-msg-name-yours {
  color: #8F1E83;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.chat-msg-text {
  word-break: break-all;
}

#chat {
  position: absolute;
  height: 100%;
  width: 100%;
}