.popup-box {
	display: none;
	position: fixed;
	bottom: 0px;
	right: 220px;
	height: 285px;
	background-color: rgb(237, 239, 244);
	width: 300px;
	border: 2px solid #9266BD;
}

.popup-box .popup-head {
	background-color: #9266BD;
	padding: 5px;
	color: black;
	font-weight: bold;
	font-size: 15px;
	clear: both;
}

.popup-box .popup-head .popup-head-left {
	float: left;
}

.popup-box .popup-head .popup-head-right {
	float: right;
}

.popup-box .popup-head .popup-head-right a {
	text-decoration: none;
	color: inherit;
}

.popup-box .popup-messages {
	height: 100%;
	overflow-y: scroll;
}

.popup-box .chat-bar {
	position: fixed;
	bottom: 0;
	height: 20;
	width: 280;
	padding: 10;
	border: 2px solid #9266BD;
}
