#title-bar{
	background-color: #41CDBA;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #95E6D5;
	padding: 20px;
	color:white;
	margin: 0;
	margin-bottom: 30px;
	width: 100%
}

.login-background {
	background-color: rgba(172, 235, 212, 0.4);
	border-radius: 25px;
	margin: 0 auto;
	width: 40%
}

#username-content {
	width: 200px;
	height: 20px;
}

#password-content {
	width: 200px;
	height: 20px;
}