
#announcement-container {
	position: relative;
	width: 90%;
	height: 100px;
	margin-left: 0%;
	margin-top: 40px;

}

#announcement-label {
	margin-top: -45px;
}

#pop-quizzes-sect {
	float: left;
    width: 44%;
	margin-left: -50px;
	margin-top: 50px;
}

#pop-quizzes-cont {

	height: 400px;
    margin-top: -10px;
	border-style: groove;
}

#recent-quizzes-sect {
	float: left;
	width: 44%;
	margin-left: 14%;
	margin-top: 50px;
}

#recent-quizzes-cont {
	height: 400px;
	margin-top: -10px;
	border-style: groove;
}