.profile-stats-container {
  position: relative;
  width: 50%;
  height: 100%;
}

.profile-stats-title {
  color: #1141FA;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
}

.profile-stats-div {
  
}

#profile-stats-title {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.profile-statistic {
  position: relative;
  margin-top: 30px;
  margin-bot: 30px;
  margin-left: 18px;
}

.profile-statistic-hdr {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #D41CD4;
}

.profile-data {
  font-size: 18px;
  color: #B6C4C9;
}

.friend-request-container {
  position: relative;
  height: 100%;
  width: 50%;
}

.friend-request-div {
  position: absolute;
  bottom: 15px;
}

.friend-button {
  height: 50px;
  width: 130px;
  border-radius: 7px;
  outline: none;
  border-width: 1px;
  background: -webkit-linear-gradient(top, #DCE8E9 0%,#C088E3 100%);
  font-size: 18px;
  color: #55675E;
  font-family: "Tahoma";
}

.respond-request-div {
  position: absolute;
  display: inline-flex;
  bottom: 15px;
}

.pending-request {
  position: absolute;
  bottom: 15px;
  padding: 15px;
  background: -webkit-linear-gradient(top, #DCE8E9 0%,#C088E3 100%);
  border-radius: 7px;
  border: solid 1px #AEA7A7;
}

.pending-request-span {
  position: relative;
  display: inline-block;
  width: 162px;
  font-size: 18px;
  color: #55675E;
  font-family: "Tahoma";
}

.friend-text-div {
  position: absolute;
  display: inline-block;
  bottom: 15px;
}

.friend-text-span {
  font-family: 'Krona One', sans-serif;
  font-size: 30px;
  color: red;
  background: linear-gradient(to right, #ff247a 9%,#ff4cb1 51%,#ff247a 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}