.profile-stats-container {
  position: relative;
  width: 50%;
  height: 100%;
}

.profile-stats-title {
  color: #1141FA;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
}

.profile-stats-div {
  
}

#profile-stats-title {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.profile-statistic {
  position: relative;
  margin-top: 30px;
  margin-bot: 30px;
  margin-left: 18px;
}

.profile-statistic-hdr {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #D41CD4;
}

.profile-data {
  font-size: 18px;
  color: #B6C4C9;
}

.friend-request-container {
  position: relative;
  height: 100%;
  width: 50%;
}

.friend-request-div {
  position: absolute;
  bottom: 15px;
}

.friend-button {
  height: 50px;
  width: 130px;
  border-radius: 7px;
  outline: none;
  border-width: 1px;
  background: -webkit-linear-gradient(top, #DCE8E9 0%,#C088E3 100%);
  font-size: 18px;
  color: #55675E;
  font-family: "Tahoma";
}

.pending-request {
  position: absolute;
  bottom: 15px;
  padding: 15px;
  background: -webkit-linear-gradient(top, #DCE8E9 0%,#C088E3 100%);
  border-radius: 7px;
  border: solid 1px #AEA7A7;
}

.pending-request-span {
  position: relative;
  display: inline-block;
  width: 200px;
  font-size: 18px;
  color: #55675E;
  font-family: "Tahoma";
}