@CHARSET "ISO-8859-1";
body {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

#background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at center, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 71%, rgba(204,204,204,1) 100%);
}

.question-type-changer {
  position: relative;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 2vw;
  border-bottom: none;
  background: rgba(194, 37, 220, 0.04);
  padding: 10px;
}

.question-type-changer {
  
}

.question-type-changer-link {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 2.2vh;
  text-decoration: none;
}

.selected {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 2.2vh;
  text-decoration: none;
  color: #F7A944;
}

.question-type-changer-link:link {
  color: #943BB7;
}

.question-type-changer-link:hover {
  color: #EF17D2;
}

.selected:link {
  color: #F7A944;
}

.selected:hover {
  color: #EBDF82;
}

#question-creator-container {
  position: relative;
  display: inline-block;
  margin-top: 10%;
}

#question-type-selector {
  position: relative;
  margin-left: 6vw;
  display: inline-block;
}

#question-specific-container {
  position: relative;
  width: 75vw;
  background: rgba(194, 37, 220, 0.04);
  border-radius: 10px;
}

.question-submit {
  position: relative;
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: 5vw;
  width: 15vw;
  font: 2.3vh Tahoma, sans-serif;	
  color: purple;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eadaf2+0,d7aaed+74,a07b9c+100 */
  background: #eadaf2; /* Old browsers */
  background: -moz-linear-gradient(top,  #eadaf2 0%, #d7aaed 74%, #a07b9c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eadaf2 0%,#d7aaed 74%,#a07b9c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eadaf2 0%,#d7aaed 74%,#a07b9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadaf2', endColorstr='#a07b9c',GradientType=0 ); /* IE6-9 */
}