@CHARSET "ISO-8859-1";
body {
  overflow-y: auto;	
}

.error-msg {
  top: 1vh;
}

#quiz-title {
  position: relative;
  display: inline-block;
  font-size: 5vh;
  font-weight: bold;
  color: #DE98FD;
  opacity: 1;
  z-index: 2;
  text-shadow: 4px 2px 4px rgba(0, 159, 255, 1);
}

#quiz-create-form-container {
  position: relative;
  height: 85vh;
  width: 55vw;
  margin-top: 1.7vh;
  border: 2px solid #8F8F8F;
  background-color: #FFFFFF;
  opacity: .94;
  -webkit-box-shadow: 18px 25px 117px 45px rgb(59,34,59);
  -moz-box-shadow: 18px 25px 117px 45px rgb(59,34,59);
  box-shadow: 18px 25px 117px 45px rgb(59,34,59);
}

#quiz-create-form {
  position: relative;
}

.quiz-header {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #317FA4;
}

#quiz-name-container {
  position: relative;
  height: 14vh;
  width: 100%;
  background-color: #ECC6F0;
}

#quiz-name {
  position: relative;
  display: inline-block;
  margin-top: 2vh;
}

#quiz-name-header {
  
}

#quiz-name-input {
  width: 45vw;
  height: 5vh;
  font-size: 3vh;
  font-family: "Lato", serif;
}

#quiz-description {
  position: fixed;
  margin-top: 2vh;
}

#quiz-description-header {
  margin-left: 2vw;
}

#quiz-textarea {
  position: initial;
  height: 16vh;
  width: 35vw;
  font-family: Tahoma, sans-serif;
  font-size: 1.8vh;
}

#quiz-options {
  position: relative;
  height: 30vh;
  width: 40vw;
  border: 2px dashed #9A09B4;
  margin-top: 27vh;
}

#quiz-submit {
  position: relative;
  display: inline-block;
  margin-left: 70%;
}

#quiz-submit-button {
  position: relative;
  margin-top: 3vh;
  height: 5vw;
  width: 15vw;
  font: 2.3vh Tahoma, sans-serif;	
  color: purple;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eadaf2+0,d7aaed+74,a07b9c+100 */
  background: #eadaf2; /* Old browsers */
  background: -moz-linear-gradient(top,  #eadaf2 0%, #d7aaed 74%, #a07b9c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eadaf2 0%,#d7aaed 74%,#a07b9c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eadaf2 0%,#d7aaed 74%,#a07b9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadaf2', endColorstr='#a07b9c',GradientType=0 ); /* IE6-9 */
}

.quiz-options-header {
  position: relative;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 2.2vh;
  color: #0000FF;
  margin-left: 1vw;
  margin-top: 2vh;
}

.quiz-radio-container {
  position: relative;
  display: inline-block;
  margin-top: 1vh;
  margin-left: 4vw;
}

#single-page-header {
  margin-top: 4vh;
}


#single-page-container {
}

#random-questions-header {
  margin-top: 3vh;
}

#practice-mode-header {
  margin-top: 3vh;
}

#practice-mode {
  color: #D305E8;
}

#practice-mode-box {
  position: relative;
  height: 3vh;
  width: 3vh;
  top: 1vh;
}
}