@CHARSET "ISO-8859-1";
body {
  overflow-y: auto;	
}

#quiz-create-form-container {
  position: relative;
  height: 94vh;
  width: 55vw;
  margin-top: 2vh;
  border: 2px solid #8F8F8F;
  background-color: #FFFFFF;
  opacity: .95;
  -webkit-box-shadow: 18px 25px 117px 45px rgb(59,34,59);
  -moz-box-shadow: 18px 25px 117px 45px rgb(59,34,59);
  box-shadow: 18px 25px 117px 45px rgb(59,34,59);
}

#quiz-create-form {
  position: relative;
}

.quiz-header {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #317FA4;
}

#quiz-name-container {
  position: relative;
  height: 14vh;
  width: 100%;
  background-color: #ECC6F0;
}

#quiz-name {
  position: relative;
  display: inline-block;
  margin-top: 2vh;
}

#quiz-name-header {
  
}

#quiz-name-input {
  width: 45vw;
  height: 5vh;
  font-size: 3vh;
  font-family: "Lato", serif;
}

#quiz-description {
  position: fixed;
  margin-top: 2vh;
}

#quiz-description-header {
  margin-left: 2vw;
}

#quiz-textarea {
  position: initial;
  height: 16vh;
  width: 35vw;
  border: solid black 1px;
  font-family: Tahoma, sans-serif;
  font-size: 1.8vh;
}

#quiz-options {
  position: relative;
  height: 40vh;
  width: 40vw;
  border: 2px dashed #9A09B4;
  margin-top: 27vh;
}

#quiz-submit {
  position: relative;
  display: inline-block;
  margin-left: 70%;
}

#quiz-submit-button {
  position: relative;
  margin-top: 3vh;
  height: 5vw;
  width: 15vw;
  font: 2.3vh Tahoma, sans-serif;	
  color: purple;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eadaf2+0,d7aaed+74,a07b9c+100 */
  background: #eadaf2; /* Old browsers */
  background: -moz-linear-gradient(top,  #eadaf2 0%, #d7aaed 74%, #a07b9c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eadaf2 0%,#d7aaed 74%,#a07b9c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eadaf2 0%,#d7aaed 74%,#a07b9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadaf2', endColorstr='#a07b9c',GradientType=0 ); /* IE6-9 */
}