@CHARSET "ISO-8859-1";
.response-hdr {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
  color: #8D1CDF;
}

.response-question-box {
  position: relative;
  height: 30px;
  width: 600px;
  margin-top: 15px;    
  font-size: 20px;
}

#response-photo-container {
  position: relative;
  margin-top: 15px;
  margin-left: 20%;
}

#fake-file {
  position: relative;
  z-index: 2;
}

#real-file {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  left: 5px;
}