body {
  position: absolute;
}

.no-results-container {
  position: relative;
  padding: 15vh 0vh 15vh 0vh;
  width: 75vw;
  margin-top: 14vh;
  margin-bottom: 14vh;
  border-radius: 20px;
  border: solid 1px #000000;
  background-color: rgba(255,255,255,.9);
  box-shadow: -4px 8px 33px 10px;
}

.no-results-span {
  position: relative;
  display: inline-block;
  width: 80%;
  word-wrap: break-word;
  font-size: 4.3vw;
  color: #23438D;
}

.results-container {
  position: relative;
  width: 75vw;
  padding: 10vh 0vh 10vh 0vh;
  background-color: rgba(255,255,255,.9);
}

.results-title-span {
  position: relative;
  display: table;
  padding: 0px 5vw 0px 5vw;
  margin-bottom: 3vh;
  word-wrap: normal;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.8vw;
  text-shadow: -1px 2px 5px #89C0D9;
  color: #920FBA;
}

.results-divider {
  position: relative;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 80%;
  margin: 0px;
  margin-top: 3vh;
  height: 3vh;
  color: #A5A5A5;
}

.results-entry-div {
  position: relative;
  display: inline-flex;
  width: 54vw;
  margin-left: 12vw;
}

.profile-photo-container {
  position: relative;
  height: 12vmin;
  width: 12vmin;
  border: 1px solid #B108BC;
  margin: 0px;
  cursor: pointer;
}

.profile-photo {
  position: relative;
}

.profile-info-container {
  position: relative;
  display: inline-flex;
  word-wrap: break-word;
  margin-left: 4vw;
}

.profile-name-container {
  position: relative;
  margin-top: 1.5vh;
}

.name-link {
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 1.8vw;
  color: #A121D2;
}

.name-link:link {
  color: #590D9A;
  font-weight: normal;
}

.name-link:visited {
  color: #590D9A;
  font-weight: normal;
}

.name-link:hover {
  color: #B849E2;
  font-weight: normal;
}

.name-link:active {
  color: #CD42D4;
  font-weight: bold;
}

.info-text {
  font-family: 'Lora', serif;
  font-size: 1.4vw;
  color: #C873E8;
}

.eck {
  position: relative;
  height: .8vh;
}

.profile-stats-container {
  position: relative;
  margin-top: 2.5vh;
}

.profile-date {
  font-size: 1.2vw;
  color: #B4ACAC;
}

.profile-data {
  font-weight: bold;
  font-size: 1.2vw;
  color: #9F6CBC;
}

.quiz-info-container {
  width: 20vw;
  word-wrap: break-word;
}

.quiz-data {
  font-size: 1.2vw;
  color: #929292;
}

.quiz-data-link {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: normal;
  color: #929292;
}

.quiz-data-link:link {
  font-size: 1.2vw;
  font-weight: normal;
  color: #929292;
}

.quiz-data-link:hover {
  color: #EA64E3;
  font-weight: normal;
}

.quiz-data-link:active {
  color: #F04974;
  font-weight: bold;
}

.quiz-description-div {
  position: relative;
  display: flex;
  width: 34vw;
}

.quiz-tag-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 4vh;
  padding: .5vh .5vw 2vh .5vw;
  margin-top: 2vh;
  border: 1px solid #9207B6;
  border-radius: 5px;
  background-color: rgba(201, 93, 198, 0.1);
}