#search-bar-container {
  position: absolute;	
}

#search-term {
  height: 25px;
  width: 35vw;	
}

#search-bar-button-container {
  position: relative;
  display: inline-flex;
}

#search-button {
  position: relative;
  height: 30px;
  margin-left: 5px;
}