#top-bar-container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: black;
  margin-right: 200px;
}

#logo {
  position: absolute;	
}

#logo-img {
  position: relative;
  height: 100px;	
}