#user-img {
	height: 125px;
	width: 125px;
}

.profile-picture {
	padding-top: 50px;
}

/* make sure this is not making the logo wonky!
 */

img {
    display: block;
    margin: 0 auto;
}

#user-welcome {
	text-align: center;
}

#mail-button {
	background-color: #FBDCFF;
	opacity: 0.5;
	border: none;
	display: block;
	margin: 0 auto;
}

#history-button{
	background-color: #FBDCFF;
	opacity: 0.5;
	border: none;
	display: block;
	margin: 0 auto;
}

.bottom-icons {
	padding-top: 20px;
}

