#user-img {
	height: 140px;
	width: 140px;
	margin-left: 12px;
}

#mail-img {
	height: 30px;
	width:46px;

	background-color: #00FFFF;
	margin-left: 50px;
}

#user-history-icon {
	margin-left: 38px;
}

