#user-img {
	height: 125px;
	width: 125px;
}

.profile-picture {
	padding-top: 50px;
}

/* make sure this is not making the logo wonky!
 */

img {
    display: block;
    margin: 0 auto;
}

#user-welcome {
	text-align: center;
	color:white;
	line-height: 110%;
	padding-bottom: 25px;
}

.bottom-icons {
	padding-top: 20px;
}

.btn{
	border:none;
	background-color: #A4E8D9;
	color: white;
	font-size: 15px;
}

.glyphicon {
    font-size: 30px;
    padding: 10px;
}

#achievements-row1{
	text-align: center;
}

#achievements-row2{
	text-align: center;
}

#achievements-row3{
	text-align: center;
}
